.body {
    font-family: "Source Code Pro";
    margin: 10%; 
}
.reveal h1 {
    font-family: "Source Code Pro";
    font-style: italic;
    font-size: 8rem;
}

.reveal h2 {
    font-family: "Source Code Pro";
    font-style: italic;
    font-size: 5rem;
}

p {

    font-family: "Source Code Pro";
    font-size: 3rem;
    font-style: bold;
}

li {

    font-family: "Source Code Pro";
    font-size: 3rem;
    font-style: bold;
}
.author  {
    font-family: "Source Code Pro";
    font-size: 2rem;
}
.column {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.img_naef{
    width: 60%;
}

.img_hettich{
    width: 1000px;
}
.img_messer, .img_waxilit, .img_hettich{
    width: 300px;
}
.img {

    border-radius: 10px;
}

.columntxt {
    margin: 1px
}
